
@{
    ViewBag.Title = "alinan_kitaplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using KutuphaneWeb.Models;
@model IEnumerable<OduncKitap>

<div class="row">
    <ul class="list-group alinan-kitap-liste">
        @foreach (var k in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center alinan-kitap">
                @k.Kitap.Adi
                <span class="badge badge-secondary badge-pill alinan-kitap-alim-gun">Alım Tarihi : @k.BaslangicTarih </span>
                @{
                    int kalan_gun =(int) (k.BitisTarih - DateTime.Now).TotalDays;

                }}
                @if (kalan_gun >= 0)
                {<span class="badge badge-info badge-pill alinan-kitap-kalan-gun">İadesine @kalan_gun Gün Kaldı.</span>}
                else
                { <span class="badge badge-danger badge-pill alinan-kitap-kalan-gun">İade Günü @(kalan_gun*-1) Gün Geçti.</span>}
            </li>
        }
    </ul>
</div>

